.logo {
    padding: 15px 20px;
}

.heading {
    font-weight: 500;
}

.logout {
    float: right;
    padding-top: 15px;
}

.container {
    color: #053868;
}

.nav {
    background: #053868;
    margin: 30px 0px;
}

.navText {
    color: white;
    float: center;
    font-size: large;
    padding: 5px;
    margin-left: 200px;
}

.details {
    font-size: large;
    color: #389583;
}