
      <button type="button" style="background-color:transparent; border-color:transparent; float:right;" (click)="viewUsers()">
      <img src="assets/file-person.svg" width=" 20" height=" 20"/>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" style="background-color:transparent;  border-color:transparent; float:right;" (click)="viewAccounts()">
      <img src="assets/people-fill-w.svg" width=" 20" height=" 20"/>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" style="background-color:transparent;  border-color:transparent; float:right; " (click)="viewContacts()">
      <img src="assets/person-fill.svg" width=" 20" height=" 20"/>
      </button>