<div class="logo"><img src="assets/logo.png" />
<div class="dropdown" style="float:right;">
  <button type="button" style="background-color:transparent; border-color:transparent; float:right;" class="logout"><img src="assets/person-circle.svg" width="30" height="30" /></button>
  <div class="dropdown-content">
    <a href="#" (click) = "changePassword()">Change Password</a>
    <a href="#" (click) = "updateProfile()">Update Profile Details</a>
    <a href="#" (click) = "logout()">Logout</a>
  </div>
</div>
</div>