
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<div class="logo"><img src="assets/logo-3.png" />
<div class="dropdown" style="float:right;">
<button type="button" style="background-color:transparent; border-color:transparent; float:right;" class="logout" (click) = "logout()"><img src="assets/person-circle.svg" width="25" height="25" /></button>
  <!--<div class="dropdown-content">
    <a href="#" (click) = "changePassword()">Change Password</a>
    <a href="#" (click) = "updateProfile()">Update Profile Details</a>
    <a href="#" (click) = "logout()">Logout</a>
  </div>-->
</div>
</div>
<hr/>