* {
    font-family: 'Quicksand';
    font-size: 13px;
}

.nav {
    background: #053868;
    margin: 8px 0px 15px 0px;
}

.newAcc {
    font-size: large;
    float: right;
    color: #2e8171;
    margin-right: 210px;
}

.title {
    margin: 15px 0px 15px 200px;
    font-size: large;
    margin-left: 215px;
    color: #053868;
    font-weight: 500;
}

.navText {
    color: white;
    float: center;
    font-size: medium;
    padding: 5px;
}

.details {
    font-size: medium;
    color: #2e8171;
}

.logo {
    padding: 15px 20px;
}

.heading {
    font-weight: 700;
}

.logout {
    float: right;
    padding-top: 15px;
}

.container {
    color: #053868;
}