<div id="mySidenav" class="sidenav">

<button type="button" (click)="viewUsers()">
<span id="users">Users<img src="assets/file-person.svg" width=" 18" height=" 18" /></span >
</button>

<button type="button"(click)="viewAccounts()">
<span id="accounts">Accounts<img src="assets/people-fill-w.svg" width=" 18" height=" 18" /></span >
</button>

<button type="button" (click)="viewContacts()">
<span id="contacts">Contacts<img src="assets/person-fill.svg" width=" 18" height=" 18" /></span >
</button>

</div>