 <app-user-managment></app-user-managment>

<div class="container">
<div class="nav">
   <div class="navText"> New Contact</div>
</div>
   <form #editContactForm="ngForm" (ngSubmit)="updateContact()">
   <div class="details">Profile Details
      <button [disabled]="editContactForm.form.invalid" type="submit" style="background-color:transparent; color: #2e8171; border-color:transparent;"
 class="float-sm-right">
      <img src="assets/check2.svg" width="25" height="25" />
      </button>
   </div>
   <hr/>
   <div class="form-row">
      <div class="col">
         <div class="form-group">
            <span class = "heading"><label for="firstName">First Name:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="firstName" value={{contact.firstName}}  name="firstName" [(ngModel)]="contact.firstName">
         </div>
      </div>
      <div class="col">
         <div class="form-group">
            <span class = "heading"><label for="lastName">Last Name:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="lastName" value={{contact.lastName}}  name="lastName" [(ngModel)]="contact.lastName">
         </div>
      </div>
   </div>
   <div class="form-group">
      <span class = "heading"><label for="title">Title:</label></span>
      <input class="form-control input-sm" required type="text"  class="form-control" id="title" value={{contact.title}}  name="title" [(ngModel)]="contact.title">
   </div>
   <div class="form-row">
      <div class="col">
         <span class = "heading"><label for="email">Email:</label></span>
         <input required type="email" class="form-control" id="email" value={{contact.email}}  name="email" [(ngModel)]="contact.email">
      </div>
      <div class="col">
         <span class = "heading"><label for="phone">Contact Number:</label></span>
         <input class="form-control input-sm" required type="text"  class="form-control" id="phone" value={{contact.phone}}   name="phone" [(ngModel)]="contact.phone">
      </div>
   </div>
   <br/>
   <div class="form-group">
      <span class = "heading"><label for="functionalArea">Functional Area:</label></span> <br/>
       <ng-container *ngFor="let business of functionalAreas">
         <div style="width:25%;float: left; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;">
            <input [checked]="contact.functionalArea.includes(business)" type="checkbox" name="functionalArea" (change)="toggleSelectedFunctionalAreas(business, $event.target.checked)" >&nbsp;&nbsp;{{business}}    
         </div>
         <textarea style="display:none;" name="test-o" [ngModel]="selectedFunctionalAreaString" [(ngModel)]="contact.functionalArea"></textarea>
      </ng-container>
   </div>
   <br/>
   <div *ngIf= "selectedFunctionalArea.includes('Buyer') || selectedFunctionalArea.includes('Sales')">
      <br/><br/>
      <div class="form-group">
         <span class = "heading"><label for="tradesFor">Buys/Sells For:</label></span>
         <br/>
          <ng-container *ngFor="let tradesFor of tradesForList">
            <div style="width:25%;float: left; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;">
            <input [checked]="contact.tradesFor.includes(tradesFor)" type="checkbox" name="tradesFor" (change)="toggleSelectedTradesFor(tradesFor, $event.target.checked)" >&nbsp;&nbsp;{{tradesFor}}    </div>
            <textarea style="display:none;" name="tradesFor" [ngModel]="selectedTradesForString" [(ngModel)]="contact.tradesFor"></textarea>
          </ng-container>
      </div>
   </div>
   <br/><br/>
   <div class="details">Address Details</div>
   <hr/>
   <div class="form-group">
      <div class="row">
         <div class="col">
            <span class = "heading"><label for="street1">street 1:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="street1" value={{contact.address.street1}} name="street1" [(ngModel)]="contact.address.street1">
         </div>
         <div class="col">
            <span class = "heading"><label for="street2">street 2:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="street2" value={{contact.address.street2}} name="street2" [(ngModel)]="contact.address.street2">
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class="row">
         <div class="col">
            <span class = "heading"><label for="city">City:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="city" value={{contact.address.city}} name="city" [(ngModel)]="contact.address.city">
         </div>
         <div class="col">
            <span class = "heading"><label for="zip">Zip Code:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="zip"  value={{contact.address.zip}} name="zip" [(ngModel)]="contact.address.zip">
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class="row">
         <div class="col">
            <span class = "heading"><label for="state">State:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="state" value={{contact.address.state}}  name="state" [(ngModel)]="contact.address.state">
         </div>
         <div class="col">
            <span class = "heading"><label for="country">Country:</label></span>
            <input class="form-control input-sm" required type="text"  class="form-control" id="country" value={{contact.address.country}} name="country" [(ngModel)]="contact.address.country">
         </div>
      </div>
   </div>
   <hr>
   <button [disabled]="editContactForm.form.invalid" type="submit" style="background-color:transparent; color: #2e8171; border-color:transparent;"
 class="float-sm-right">
   <img src="assets/check2.svg" width="25" height="25" />
   </button>
   </form>
   <br/><br/><br/>
</div>